In [22]:
all_data = []

In [38]:
data = input()
new_data = data.split()
race = data.split()[0]
new_data = " ".join(data.split()[1:])

 White Zoltan (0.00%), Leif (0.10%), Jack (0.40%), Ryder (3.30%), Carmine (3.40%), Haden (4.10%), Tate (5.30%), Dickie (5.50%), Logan (7.40%), Parker (17.50%), Sawyer (20.90%), Hayden (22.50%), Dakota (29.70%), Britt (38.30%), Harley (41.70%), Campbell (53.90%), Barrie (56.10%), Peyton (61.90%), Kelley (88.00%), Jodie (88.20%), Leigh (88.70%), Clare (90.90%), Rylee (92.20%), Meredith (94.70%), Baylee (97.00%), Lacey (97.30%), Ardith (97.70%), Kristi (99.80%), Galina (100.00%), Margarete (100.00%)

In [39]:
all_data.extend([[race, val.split()[0], val.split()[1][1:-2]] for val in new_data.split(",")])

In [40]:
print(all_data)

[['Asian', 'Seung', '0.00'], ['Asian', 'Quoc', '0.00'], ['Asian', 'Dat', '0.00'], ['Asian', 'Nghia', '2.30'], ['Asian', 'Thuan', '2.40'], ['Asian', 'Thien', '2.70'], ['Asian', 'Hoang', '6.40'], ['Asian', 'Sang', '6.60'], ['Asian', 'Jun', '9.60'], ['Asian', 'Sung', '13.50'], ['Asian', 'Jie', '17.30'], ['Asian', 'Wei', '21.80'], ['Asian', 'Hyun', '39.00'], ['Asian', 'Khanh', '41.90'], ['Asian', 'Wen', '44.60'], ['Asian', 'Hien', '51.70'], ['Asian', 'An', '54.80'], ['Asian', 'Ji', '61.40'], ['Asian', 'In', '80.80'], ['Asian', 'Diem', '88.60'], ['Asian', 'Quyen', '88.90'], ['Asian', 'Ling', '91.30'], ['Asian', 'Xiao', '91.50'], ['Asian', 'Ngoc', '92.40'], ['Asian', 'Su', '95.40'], ['Asian', 'Hanh', '95.60'], ['Asian', 'Vy', '97.00'], ['Asian', 'Eun', '98.30'], ['Asian', 'Trinh', '100.00'], ['Asian', 'Huong', '100.00'], ['Black', 'Deontae', '0.00'], ['Black', 'Antwon', '0.10'], ['Black', 'Javonte', '1.00'], ['Black', 'Dejon', '2.90'], ['Black', 'Jamell', '3.40'], ['Black', 'Dijon', '4.60'], ['Black', 'Dashawn', '5.80'], ['Black', 'Deshon', '6.20'], ['Black', 'Pernell', '8.30'], ['Black', 'Rashawn', '10.10'], ['Black', 'Torrance', '13.20'], ['Black', 'Semaj', '22.60'], ['Black', 'Demetris', '25.60'], ['Black', 'Kamari', '33.60'], ['Black', 'Amari', '42.00'], ['Black', 'Shamari', '56.10'], ['Black', 'Kenyatta', '57.10'], ['Black', 'Ivory', '59.30'], ['Black', 'Chaka', '76.20'], ['Black', 'Ashante', '89.40'], ['Black', 'Unique', '89.90'], ['Black', 'Kenya', '92.20'], ['Black', 'Nikia', '93.80'], ['Black', 'Akia', '94.30'], ['Black', 'Kenyetta', '95.50'], ['Black', 'Shante', '96.40'], ['Black', 'Shaunta', '97.00'], ['Black', 'Laquandra', '100.00'], ['Black', 'Lakesia', '100.00'], ['Black', 'Daija', '100.00'], ['Hispanic', 'Nestor', '0.00'], ['Hispanic', 'Fidel', '0.00'], ['Hispanic', 'Raul', '0.60'], ['Hispanic', 'Leonides', '2.70'], ['Hispanic', 'Yamil', '4.50'], ['Hispanic', 'Reyes', '10.80'], ['Hispanic', 'Cruz', '13.10'], ['Hispanic', 'Neftali', '14.90'], ['Hispanic', 'Noris', '38.10'], ['Hispanic', 'Nieves', '62.40'], ['Hispanic', 'Guadalupe', '72.60'], ['Hispanic', 'Ivis', '75.00'], ['Hispanic', 'Monserrate', '78.20'], ['Hispanic', 'Ibis', '82.60'], ['Hispanic', 'Johanny', '89.40'], ['Hispanic', 'Elba', '91.50'], ['Hispanic', 'Matilde', '93.40'], ['Hispanic', 'Rocio', '96.90'], ['Hispanic', 'Lucero', '97.30'], ['Hispanic', 'Cielo', '97.50'], ['Hispanic', 'Lucila', '100.00'], ['Hispanic', 'Zuleyka', '100.00'], ['Hispanic', 'Yaquelin', '100.00'], ['White', 'Zoltan', '0.00'], ['White', 'Leif', '0.10'], ['White', 'Jack', '0.40'], ['White', 'Ryder', '3.30'], ['White', 'Carmine', '3.40'], ['White', 'Haden', '4.10'], ['White', 'Tate', '5.30'], ['White', 'Dickie', '5.50'], ['White', 'Logan', '7.40'], ['White', 'Parker', '17.50'], ['White', 'Sawyer', '20.90'], ['White', 'Hayden', '22.50'], ['White', 'Dakota', '29.70'], ['White', 'Britt', '38.30'], ['White', 'Harley', '41.70'], ['White', 'Campbell', '53.90'], ['White', 'Barrie', '56.10'], ['White', 'Peyton', '61.90'], ['White', 'Kelley', '88.00'], ['White', 'Jodie', '88.20'], ['White', 'Leigh', '88.70'], ['White', 'Clare', '90.90'], ['White', 'Rylee', '92.20'], ['White', 'Meredith', '94.70'], ['White', 'Baylee', '97.00'], ['White', 'Lacey', '97.30'], ['White', 'Ardith', '97.70'], ['White', 'Kristi', '99.80'], ['White', 'Galina', '100.00'], ['White', 'Margarete', '100.00']]

In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame(all_data, columns=["Race", "Name", "Percent Female"])

In [43]:
df

      Race       Name Percent Female
0    Asian      Seung           0.00
1    Asian       Quoc           0.00
2    Asian        Dat           0.00
3    Asian      Nghia           2.30
4    Asian      Thuan           2.40
..     ...        ...            ...
108  White      Lacey          97.30
109  White     Ardith          97.70
110  White     Kristi          99.80
111  White     Galina         100.00
112  White  Margarete         100.00

[113 rows x 3 columns]

In [44]:
df.groupby(by="Race").count()

          Name  Percent Female
Race
Asian       30              30
Black       30              30
Hispanic    23              23
White       30              30

In [45]:
df.to_csv("names.csv")