In [62]:
import seaborn as sns
import pandas as pd

In [63]:
# import pandas as pd
# import shutil
# import glob
# files = glob.glob("results/*")
# for file in files:
#     file_name = file.split("/")[1]
#     file_name = file_name.replace(":","-")
#     shutil.copy(file, f"window_results/{file_name}")

In [64]:
names_df = pd.read_csv("names.csv")

In [65]:
# race -> name -> percent female at birth
names_map = {}
for index, row in names_df.iterrows():
    race = row.iloc[1]
    name = row.iloc[2]
    percent = row.iloc[3]
    if race not in names_map:
        names_map[race] = {}
    names_map[race][name] = percent

In [66]:
names_map

{'Asian': {'Seung': 0.0,
  'Quoc': 0.0,
  'Dat': 0.0,
  'Nghia': 2.3,
  'Thuan': 2.4,
  'Thien': 2.7,
  'Hoang': 6.4,
  'Sang': 6.6,
  'Jun': 9.6,
  'Sung': 13.5,
  'Jie': 17.3,
  'Wei': 21.8,
  'Hyun': 39.0,
  'Khanh': 41.9,
  'Wen': 44.6,
  'Hien': 51.7,
  'An': 54.8,
  'Ji': 61.4,
  'In': 80.8,
  'Diem': 88.6,
  'Quyen': 88.9,
  'Ling': 91.3,
  'Xiao': 91.5,
  'Ngoc': 92.4,
  'Su': 95.4,
  'Hanh': 95.6,
  'Vy': 97.0,
  'Eun': 98.3,
  'Trinh': 100.0,
  'Huong': 100.0},
 'Black': {'Deontae': 0.0,
  'Antwon': 0.1,
  'Javonte': 1.0,
  'Dejon': 2.9,
  'Jamell': 3.4,
  'Dijon': 4.6,
  'Dashawn': 5.8,
  'Deshon': 6.2,
  'Pernell': 8.3,
  'Rashawn': 10.1,
  'Torrance': 13.2,
  'Semaj': 22.6,
  'Demetris': 25.6,
  'Kamari': 33.6,
  'Amari': 42.0,
  'Shamari': 56.1,
  'Kenyatta': 57.1,
  'Ivory': 59.3,
  'Chaka': 76.2,
  'Ashante': 89.4,
  'Unique': 89.9,
  'Kenya': 92.2,
  'Nikia': 93.8,
  'Akia': 94.3,
  'Kenyetta': 95.5,
  'Shante': 96.4,
  'Shaunta': 97.0,
  'Laquandra': 100.0,
  'Lakesia': 100.0,
  'Daija': 100.0},
 'Hispanic': {'Nestor': 0.0,
  'Fidel': 0.0,
  'Raul': 0.6,
  'Leonides': 2.7,
  'Yamil': 4.5,
  'Reyes': 10.8,
  'Cruz': 13.1,
  'Neftali': 14.9,
  'Noris': 38.1,
  'Nieves': 62.4,
  'Guadalupe': 72.6,
  'Ivis': 75.0,
  'Monserrate': 78.2,
  'Ibis': 82.6,
  'Johanny': 89.4,
  'Elba': 91.5,
  'Matilde': 93.4,
  'Rocio': 96.9,
  'Lucero': 97.3,
  'Cielo': 97.5,
  'Lucila': 100.0,
  'Zuleyka': 100.0,
  'Yaquelin': 100.0},
 'White': {'Zoltan': 0.0,
  'Leif': 0.1,
  'Jack': 0.4,
  'Ryder': 3.3,
  'Carmine': 3.4,
  'Haden': 4.1,
  'Tate': 5.3,
  'Dickie': 5.5,
  'Logan': 7.4,
  'Parker': 17.5,
  'Sawyer': 20.9,
  'Hayden': 22.5,
  'Dakota': 29.7,
  'Britt': 38.3,
  'Harley': 41.7,
  'Campbell': 53.9,
  'Barrie': 56.1,
  'Peyton': 61.9,
  'Kelley': 88.0,
  'Jodie': 88.2,
  'Leigh': 88.7,
  'Clare': 90.9,
  'Rylee': 92.2,
  'Meredith': 94.7,
  'Baylee': 97.0,
  'Lacey': 97.3,
  'Ardith': 97.7,
  'Kristi': 99.8,
  'Galina': 100.0,
  'Margarete': 100.0}}

In [67]:
results_df = pd.read_csv("accuracy_results.csv")

In [68]:
print(results_df)

    name1  name2   race  accuracy
0      An    Dat  Asian       0.0
1      An   Diem  Asian       0.0
2      An    Eun  Asian       0.0
3      An   Hanh  Asian       0.0
4      An   Hien  Asian       0.0
..    ...    ...    ...       ...
865  Xiao  Thuan  Asian       0.0
866  Xiao  Trinh  Asian       0.0
867  Xiao     Vy  Asian       0.0
868  Xiao    Wei  Asian       0.0
869  Xiao    Wen  Asian       0.0

[870 rows x 4 columns]

In [69]:
results_df["percent 1"] = results_df.apply(lambda x: names_map[x["race"]][x["name1"]], axis=1)
results_df["percent 2"] = results_df.apply(lambda x: names_map[x["race"]][x["name2"]], axis=1)

In [70]:
results_df

    name1  name2   race  accuracy  percent 1  percent 2
0      An    Dat  Asian       0.0       54.8        0.0
1      An   Diem  Asian       0.0       54.8       88.6
2      An    Eun  Asian       0.0       54.8       98.3
3      An   Hanh  Asian       0.0       54.8       95.6
4      An   Hien  Asian       0.0       54.8       51.7
..    ...    ...    ...       ...        ...        ...
865  Xiao  Thuan  Asian       0.0       91.5        2.4
866  Xiao  Trinh  Asian       0.0       91.5      100.0
867  Xiao     Vy  Asian       0.0       91.5       97.0
868  Xiao    Wei  Asian       0.0       91.5       21.8
869  Xiao    Wen  Asian       0.0       91.5       44.6

[870 rows x 6 columns]

In [71]:
results_df["bucket 1"] = pd.cut(x=results_df['percent 1'], bins=[-1, 2, 5, 10, 25, 50, 75, 90, 95, 98, 100], labels=["0-2", "2-5", "5-10", "10-25", "25-50", "50-75", "75-90", "90-95", "95-98", "98-100"])
results_df["bucket 2"] = pd.cut(x=results_df['percent 2'], bins=[-1, 2, 5, 10, 25, 50, 75, 90, 95, 98, 100], labels=["0-2", "2-5", "5-10", "10-25", "25-50", "50-75", "75-90", "90-95", "95-98", "98-100"])

In [72]:
results_df

    name1  name2   race  accuracy  percent 1  percent 2 bucket 1 bucket 2
0      An    Dat  Asian       0.0       54.8        0.0    50-75      0-2
1      An   Diem  Asian       0.0       54.8       88.6    50-75    75-90
2      An    Eun  Asian       0.0       54.8       98.3    50-75   98-100
3      An   Hanh  Asian       0.0       54.8       95.6    50-75    95-98
4      An   Hien  Asian       0.0       54.8       51.7    50-75    50-75
..    ...    ...    ...       ...        ...        ...      ...      ...
865  Xiao  Thuan  Asian       0.0       91.5        2.4    90-95      2-5
866  Xiao  Trinh  Asian       0.0       91.5      100.0    90-95   98-100
867  Xiao     Vy  Asian       0.0       91.5       97.0    90-95    95-98
868  Xiao    Wei  Asian       0.0       91.5       21.8    90-95    10-25
869  Xiao    Wen  Asian       0.0       91.5       44.6    90-95    25-50

[870 rows x 8 columns]

In [79]:
grouped_df = results_df.groupby(by=["bucket 1", "bucket 2"], as_index=False)["accuracy"].mean()

/var/folders/nb/gtmry_bd5tqgglql1jk2pyzh0000gn/T/ipykernel_83019/3306155785.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_df = results_df.groupby(by=["bucket 1", "bucket 2"], as_index=False)["accuracy"].mean()

In [80]:
type(grouped_df)

pandas.core.frame.DataFrame

In [82]:
grouped_df

   bucket 1 bucket 2  accuracy
0       0-2      0-2  0.308838
1       0-2      2-5  0.296992
2       0-2     5-10  0.317778
3       0-2    10-25  0.305892
4       0-2    25-50  0.309910
..      ...      ...       ...
95   98-100    50-75  0.011111
96   98-100    75-90  0.033333
97   98-100    90-95  0.033333
98   98-100    95-98  0.022222
99   98-100   98-100  0.016667

[100 rows x 3 columns]

In [83]:
heatmap_df = pd.pivot_table(grouped_df, values='accuracy', index='bucket 1',
                       columns='bucket 2', aggfunc="mean")

/var/folders/nb/gtmry_bd5tqgglql1jk2pyzh0000gn/T/ipykernel_83019/918946667.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  heatmap_df = pd.pivot_table(grouped_df, values='accuracy', index='bucket 1',

In [89]:
sns.heatmap(data=heatmap_df, ligh="seagreen")

KeyError: "'seagreen' is not a known colormap name"